<h1>Todo List</h1>
<form action="/add" method="POST">
  <input type="text" name="todo" placeholder="Add a new todo" required>
  <button type="submit">Add</button>
</form>

<ul>
  {{#each todos}}
    <li>
      <span class="{{#if completed}}completed{{/if}}">{{text}}</span>
      {{#unless completed}}
        <form action="/complete/{{id}}" method="POST" style="display:inline;">
          <button type="submit">Complete</button>
        </form>
      {{/unless}}
      <form action="/remove/{{id}}" method="POST" style="display:inline;">
        <button type="submit">Remove</button>
      </form>
    </li>
  {{/each}}
</ul>
